.navbar {
   max-width: 1280px;
   display: flex;
   padding-top: 25.5px;
   padding-bottom: 25.5px;
}

a {
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: bold;
   color: #FF0000;
   text-decoration: none;
   text-align: center;
}

.home {
   margin-left: 330px;
}

.photoapp {
   margin-left: 72px;
}

.design {
   margin-left: 72px;
}

.download {
   margin-left: 50px;
   margin-right: 330px;
}

main {
   font-family: 'Montserrat', sans-serif;
   max-width: 1280px;
   color: #373737;
}

.title {
   font-weight: bold;
   font-size: 22px;
   font-style: normal;
   text-align: center;
   align-items: flex-end;
   letter-spacing: 3.3px;
   text-transform: uppercase;
   padding-top: 48px;
   padding-bottom: 38px;
}

.block1 {
   width: 1145px;
   margin: 0 auto;
}

.block2 {
   width: 1145px;
   margin: 0 auto;
   padding-bottom: 66px;
}

p {
   text-align: center;
   font-weight: normal;
   font-size: 16px;
   letter-spacing: 2.4px;
   line-height: 26px;
}

button {
   font-family: 'Montserrat', sans-serif;
   margin: 0 auto;
   display: block;
   width: 191px;
   height: 51px;
   font-size: 12px;
   font-weight: bold;
   align-items: center;
   text-align: center;
   letter-spacing: 1.8px;
   border-radius: 4px;
   color: white;
   background-color: #FF0000;
   border: 0;
}

footer {
   max-width: 1280px;
   padding-top: 82px;
   padding-bottom: 29px;
   padding-left: 713px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   display: flex;
   align-items: center;
   letter-spacing: 2.4px;
   color: #373737;
}